---

import logo from '../assets/images/logo.webp'
import navigation_content from '../data/navigation.json'
---

<header class="wrapper bg-loop font-semibold">

  <!-- Wrapper -->
  <div class="bs-container py-6 flex justify-between items-center">
    <!-- Logo -->
    <a class="flex xl:min-w-32 group" href="/" aria-label='logo'>

    </a>

    <!-- Nav -->
    <nav class="hidden col-span-6 md:flex mx-auto self-stretch lg:gap-2">

      <!-- Links -->
      { navigation_content.nav.map( item =>

        <a class="bs-btn !bg-transparent before:translate-y-full hover:before:translate-y-0" href={item.link}>
          { item.title }
        </a>

      )}

    </nav>

    <!-- CTA -->
    <button type="button" class="min-w-32 bs-btn" onclick="demo.showModal()">

    </button>

  </div>

</header>
